#heading{
    background-color: #07377ede;
    color: #fff;
    text-align: center;
    padding-top: 20px; 
    width: 100vw;
    height: 10vh;
}

.data{
    /* color: white; */
    /* background-color: #07377ede; */
    /* width: 30vw; */
    text-align: center;
}