<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Error Page</title>
    <link rel="stylesheet" href="../static/mainPagestyle.css">
    <link rel="stylesheet" href="../static/form.css">
    
</head>

<body>
    <header>
        <nav id="navbar">
            <img src="../static/Images/Indian_Railways_logo.png" id="logo">
            
            <img src="../static/Images/IRCTC-Logo.png" id="logo2">
        </nav>
    </header>

    <img src="..\\static\\Images\\error.png" id="error-img">

    <div class="formContainer" id = "errormsg">
        <a href="/">SOMETHING WENT WRONG. BACK TO MAIN MENU</a>
    </div>

    

  <br><br>
  <footer>
      <p> "Copyright © 2022, Centre For Railway Information Systems, Designed and Hosted by SMS(S) Group 5 "  </p>
  </footer>
    
</body>


</html>