<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flight B</title>
    <link rel="stylesheet" href="../static/mainPagestyle.css">
    <link rel="stylesheet" href="../static/form.css">
    <link rel="stylesheet" href="../static/tableStyle.css">
</head>
<body>
    <header>
        <nav id="navbar">
            <img src="../static/Images/Indian_Railways_logo.png" id="logo">
            <ul>
                <!-- <li> <a href="login.html">Login</a></li> -->
                  <!-- NEED TO CHECK HERE IF ALREADY LOGGED IN OR NOT -->
                <li><a href="/Schedule">Schedule</a></li>
                <li><a href="/Bookings">Bookings</a></li>
                <li><a href="/Cancellation">Cancellation</a></li>

            </ul>
            <img src="../static/Images/IRCTC-Logo.png" id="logo2">
        </nav>
    </header>
    <br><br><br>

    <form action="/flightBooking" method = "POST" style="border:1px solid #ccc">
        <div class="formContainer">
            <h1 style="font-size: 250%;">Flight Bookings</h1>

            <label for="dot"><b><br>Date Of Travelling</b></label>
            <input type="date" placeholder="Enter DOT" name="dot" required>
            <br>
            <label for="from"><b><br>Flight ID</b></label>
            <select name="from" id="TrainID" required> 
                <option value="101">A</option>
                <option value="102">B</option>
                <option value="103">C</option>
                <option value="104">D</option>
                <option value="105">E</option>
                <option value="106">F</option>
                <option value="107">G</option>
                <option value="108">H</option>
                <option value="109">I</option>
                <option value="110">J</option>
                <option value="111">K</option>
                <option value="112">L</option>
                <option value="113">M</option>
            </select>
            <br><br>
            <button type="submit" class="signupbtn" ><b>Login</b></button>
        </div>
    </form>
    
  <footer>
      <p> "Copyright © 2022, Centre For Railway Information Systems, Designed and Hosted by SMS(S) Group 5 "  </p>
  </footer>

</body>
</html>