<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trains</title>
    <link rel="stylesheet" href="../static/mainPagestyle.css">
    <link rel="stylesheet" href="../static/form.css">
</head>
<body>
    <header>
        <nav id="navbar">
            <img src="../static/Images/Indian_Railways_logo.png" id="logo">
            <ul>
                <!-- <li> <a href="login.html">Login</a></li> -->
                  <!-- NEED TO CHECK HERE IF ALREADY LOGGED IN OR NOT -->
                <li><a href="/">Home</a></li>
                
            </ul>
            <img src="../static/Images/IRCTC-Logo.png" id="logo2">
        </nav>
    </header>

    <form action="/paymentCancelled" method="POST" style="border:1px solid #ccc">
        <div class="formContainer">
            <h1 style="font-size:300%;">SELECT VEHICLE</h1>
            <!-- <p>You can book train tickets here</p> -->
            <br>

            <label for="vehicle"><b><br>VEHICLE</b></label>
            <select name="vehicle" id="vehicle"> 
                <option value="1">TRAIN</option>
                <option value="2">BUS</option>
                <option value="3">FLIGHT</option>
                
            </select>
            <br>
            <div class="clearfix">
                <!-- <button type="button" class="cancelbtn">Cancel</button> -->
                <button type="submit" class="signupbtn">Login</button>
            </div>
        </div>
    </form>
    <br><br>
  <footer>
      <p> "Copyright © 2022, Centre For Railway Information Systems, Designed and Hosted by SMS(S) Group 5 "  </p>
  </footer>

</body>
</html>