<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>train1</title>
    <link rel="stylesheet" href="../static/mainPagestyle.css">
    <link rel="stylesheet" href="../static/form.css">
    <link rel="stylesheet" href="../static/tableStyle.css">
</head>
<body>
    <header>
        <nav id="navbar">
            <img src="../static/Images/Indian_Railways_logo.png" id="logo">
            <ul>
                <!-- <li> <a href="login.html">Login</a></li> -->
                  <!-- NEED TO CHECK HERE IF ALREADY LOGGED IN OR NOT -->
                <li><a href="/">Home</a></li>
                
            </ul>
            <img src="../static/Images/IRCTC-Logo.png" id="logo2">
        </nav>
    </header>
    <br><br><br>
    <table>
        <caption><b>VEHICLE PATH</b></caption>
    <thead>
        <tr>
            <th>Station/Stop/Airport ID</th>
            <th>Vehicle ID</th>
            
            <th>Departure time </th>
        </tr>
    </thead>
    <tbody>
        {% for row in value %}
        <tr>
            <td>{{row[0]}}</th>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <!-- <td>{{row[3]}}</td> -->
            <!-- <td>{{row[4]}}</td>
            <td>{{row[5]}}</td> -->

        </tr>
        {% endfor %}
        
    </tbody>
    </table>
    <br><br>
  <footer>
      <p> "Copyright © 2022, Centre For Railway Information Systems, Designed and Hosted by SMS(S) Group 5 "  </p>
  </footer>

</body>
</html>