table, th, td {
    border: 1px solid;
  }

table{
    width: 80%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

th,td{
    padding: 15px;
    text-align: center;
}
th{
    background-color: #07377ede;
    color: white;
}