<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buses</title>
    <link rel="stylesheet" href="../static/mainPagestyle.css">
    <link rel="stylesheet" href="../static/form.css">
</head>
<body>
    <header>
        <nav id="navbar">
            <img src="../static/Images/Indian_Railways_logo.png" id="logo">
            <ul>
                <!-- <li> <a href="login.html">Login</a></li> -->
                  <!-- NEED TO CHECK HERE IF ALREADY LOGGED IN OR NOT -->
                <li><a href="mainPage">Home</a></li>
                <li><a href="contactUs">Contact Us</a></li>
                <li><a href="trains">Trains</a></li>
                <li><a href="buses">Buses</a></li>
                <li><a href="flights">Flights</a></li>
                <li><a href="ticketDetails">Ticket Details</a></li>
            </ul>
            <img src="../static/Images/IRCTC-Logo.png" id="logo2">
        </nav>
    </header>

    <form action="/bus1" method="POST" style="border:1px solid #ccc">
        <div class="formContainer">
            <h1 style="font-size:300%;">BOOK BUS TICKETS</h1>
            <p>You can book train tickets here</p>
            <br>

            <label for="from"><b><br>Depart From</b></label>
            <select name="from" id="sourceStation"> 
                <option value="0">Depart From</option>
                <option value="201">A</option>
                <option value="202">B</option>
                <option value="203">C</option>
                <option value="204">D</option>
                <option value="205">E</option>
                <option value="206">F</option>
                <option value="207">G</option>
                <option value="208">H</option>
                <option value="209">I</option>
                <option value="210">J</option>
                <option value="211">K</option>
                <option value="212">L</option>
                <option value="213">M</option>
                <option value="214">N</option>
                <option value="215">O</option>
                <option value="216">P</option>
                <option value="217">Q</option>
                <option value="218">R</option>
                <option value="219">S</option>
                <option value="220">T</option>
                <option value="221">U</option>
                <option value="222">V</option>
                <option value="223">W</option>
                <option value="224">X</option>
                <option value="225">Y</option>

            </select>
            <br>
            <label for="to"><b><br>Going To</b></label>
            <select name="to" id="sourceStation">
                <option value="0">Depart From</option>
                <option value="201">A</option>
                <option value="202">B</option>
                <option value="203">C</option>
                <option value="204">D</option>
                <option value="205">E</option>
                <option value="206">F</option>
                <option value="207">G</option>
                <option value="208">H</option>
                <option value="209">I</option>
                <option value="210">J</option>
                <option value="211">K</option>
                <option value="212">L</option>
                <option value="213">M</option>
                <option value="214">N</option>
                <option value="215">O</option>
                <option value="216">P</option>
                <option value="217">Q</option>
                <option value="218">R</option>
                <option value="219">S</option>
                <option value="220">T</option>
                <option value="221">U</option>
                <option value="222">V</option>
                <option value="223">W</option>
                <option value="224">X</option>
                <option value="225">Y</option>
            </select>
            <br>
            <label for="dateTravel"><b><br>Departure Date</b></label>
            <input type="date" placeholder="Enter Date" name="dateTravel" required>

            <div class="clearfix">
                <!-- <button type="button" class="cancelbtn">Cancel</button> -->
                <button type="submit" class="signupbtn">Search Bus</button>
            </div>
        </div>
    </form>
    <br><br>
  <footer>
      <p> "Copyright © 2022, Centre For Railway Information Systems, Designed and Hosted by SMS(S) Group 5 "  </p>
  </footer>

</body>
</html>