<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contactUs</title>
    <link rel="stylesheet" href="../static/mainPagestyle.css">
    <link rel="stylesheet" href="../static/form.css">
    <link rel="stylesheet" href="../static/contactUs.css">
</head>
<body>

    <header>
        <nav id="navbar">
            <img src="../static/Images/Indian_Railways_logo.png" id="logo">
            <ul>
                <!-- <li> <a href="login.html">Login</a></li> -->
                  <!-- NEED TO CHECK HERE IF ALREADY LOGGED IN OR NOT -->
                <li><a href="mainPage">Home</a></li>
                <li><a href="loginPage">Login</a></li>
                <li><a href="register">Register</a></li>
                <li><a href="agentLogin">Agent Login</a></li>
                <li><a href="trains">Trains</a></li>
                <li><a href="buses">Buses</a></li>
                <li><a href="flights">Flights</a></li>
                <li><a href="ticketDetails">Ticket Details</a></li>
            </ul>
            <img src="../static/Images/IRCTC-Logo.png" id="logo2">
        </nav>
    </header>


    <h1 id = "heading">YOU MAY CONTACT US</h1>
    <br>
    <div class="data">
        <p><br><b>Customer Care Numbers</b> : 0755-6610661, 0755-4090600 (Language: Hindi and English)<br>
            <br><b>For Railway tickets booked through IRCTC
            <br> General Information</b>    
            <br><b>I-tickets/e-tickets : </b>  <a href="care@irctc.co.in">care@irctc.co.in</a>
            <br><b>For Cancellation E-tickets : </b> <a href="etickets@irctc.co.in">etickets@irctc.co.in</a>
            <br><b>For IRCTC iMudra Prepaid Wallet & Card : </b> <a href="imudracare@irctc.co.in">imudracare@irctc.co.in</a>
        
        
            <br><br>For IRCTC SBI Card users who do not receive the card within 01 month from the date of application kindly call on the Railway SBI Card 
            <br><b>Helpline nos.</b> at 0124-39021212 or 18001801295 (if calling from BSNL/MTNL line) or send email to <a href="customercare@sbicard.com">customercare@sbicard.com. </a>
            <br>For other queries on your IRCTC SBI card account, kindly email at <a href="loyaltyprogram@irctc.co.in">loyaltyprogram@irctc.co.in</a>
            
            <b><br><br>
                <!-- <div class="address"> -->
                    Registered Office / Corporate Office
                    <br>Indian Railway Catering and Tourism Corporation Ltd.,
                    <br>B-148, 11th Floor, Statesman House,
                    <br>Barakhamba Road, New Delhi 110001</b>
                <!-- </div> -->
            </p>
    </div>
    <br><br>
  <footer>
      <p> "Copyright © 2022, Centre For Railway Information Systems, Designed and Hosted by SMS(S) Group 5 "  </p>
  </footer>
    
</body>
</html>