<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>train1</title>
    <link rel="stylesheet" href="../static/mainPagestyle.css">
    <link rel="stylesheet" href="../static/form.css">
    <link rel="stylesheet" href="../static/tableStyle.css">
</head>
<body>
    <header>
        <nav id="navbar">
            <img src="../static/Images/Indian_Railways_logo.png" id="logo">
            <ul>
                <li><a href="mainPage">Home</a></li>
                <li>Register</li>
                <li><a href="contactUs">Contact Us</a></li>
                <li>Trains</li>
                <li>Buses</li>
                <li>Flights</li>
                <li><a href="ticketDetails">Ticket Details</a></li>
            </ul>
            <img src="../static/Images/IRCTC-Logo.png" id="logo2">
        </nav>
    </header>
    <br><br><br>
    <table>
        <caption><b>TICKET DETAILS</b></caption>
        
    <thead>
        <tr>
            <th>Ticket ID</th>
            <th>Flight No.</th>
            <th>Flight Name</th>
            <th>Flight Class</th>
            <th>Source ID</th>
            <th>Departure time</th>
            <th>Destination ID</th>
            <th>Arrival time</th>
            <th>Date</th>
            <th>Ticket Price</th>
        </tr>
    </thead>
    <tbody>
        {% for row in value %}
        <tr>
            <td>{{row[0]}}</th>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
            <td>{{row[6]}}</td>
            <td>{{row[7]}}</td>
            <td>{{row[8]}}</td>
            <td>{{row[9]}}</td>

        </tr>
        {% endfor %}
        
    </tbody>
    </table>
    <br><br>
  <footer>
      <p> "Copyright © 2022, Centre For Railway Information Systems, Designed and Hosted by SMS(S) Group 5 "  </p>
  </footer>

</body>
</html>