<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payments</title>
    <link rel="stylesheet" href="../static/mainPagestyle.css">
    <link rel="stylesheet" href="../static/paymentPortal.css">
</head>

<body>
    <header>
        <nav id="navbar">
            <img src="../static/Images/Indian_Railways_logo.png" id="logo">
            <ul>
                <!-- <li> <a href="login.html">Login</a></li> -->
                  <!-- NEED TO CHECK HERE IF ALREADY LOGGED IN OR NOT -->
                  <li><a href="mainPage">Home</a></li>
                  <li>Register</li>
                  <li><a href="contactUs">Contact Us</a></li>
                  <li>Trains</li>
                  <li>Buses</li>
                  <li>Flights</li>
                  <li><a href="ticketDetails">Ticket Details</a></li>
            </ul>
            <img src="../static/Images/IRCTC-Logo.png" id="logo2">
        </nav>
    </header>

    <img src="..\\static\\Images\\trainImg.jpg" id="bg-image">
    <div class="bg-text">
        <h1>PAYMENT PORTAL</h1>
    </div>

    <!-- <h1 id="loginText"><a href="login.htm">LOGIN</a></h1> -->
    <form action="/successBook" method="POST" style="border:1px solid #ccc">
      <div class="formContainer" id = "formlogin2">
          <h1>Make Payment</h1>
          <p>Please fill in the required details</p>
          <hr>


          <!-- <label for="card no"><b><br>Card Number</b></label>
          <input type="number" placeholder="Enter Card Number  " name="cardNo" required>

          <label for="cvv"><b><br>CVV</b></label>
          <input type="password" placeholder="" name="cvv" required>

          <label for="expiry"><b><br>Expiry</b></label>
          <input type="number" min="1" max="12" placeholder="MM" name="month" required>
          <input type="number" placeholder="YY" name="year" required>
        
        -->

          <!-- <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required> -->

          <!-- <label>
              <br><input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
          </label> -->

          <!-- <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p> -->

          <label for="from"><b><br>Choose Payment Method</b></label>
            <select name="from" id="from">
                <!-- <option value="0">Select the class</option> -->
                <option value="CASH">CASH</option>
                <option value="BANK TRANSFER">BANK TRANSFER</option>
                <option value="UPI">UPI</option>
                <option value="NET BANKING">NET BANKING</option>
            </select>

          <div class="clearfix">
              <!-- <button type="button" class="cancelbtn">Cancel</button> -->
              <button type="submit" class="signupbtn" onclick="dashboard.html">Login</button>
          </div>
      </div>
  </form>

  <br><br>
  <footer>
      <p> "Copyright © 2022, Centre For Railway Information Systems, Designed and Hosted by SMS(S) Group 5 "  </p>
  </footer>
    
</body>


</html>