<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
</head>

<body>
    <header>
        <nav id="navbar">
            <img src="../static/Images/Indian_Railways_logo.png" id="logo">
            <a href="/register">THE ID YOU ENTERED IS ALREADY REGISTERED. TRY AGAIN</a>
            <a href="/">HEAD TO MAIN MENU</a>
            <img src="../static/Images/IRCTC-Logo.png" id="logo2">
        </nav>
    </header>

    <img src="..\\static\\Images\\trainImg.jpg" id="bg-image">
    <div class="bg-text">
        <h1>INDIAN RAILWAYS</h1>
        <p>Safety | Security | Punctuality</p>
    </div>

    

  <br><br>
  <footer>
      <p> "Copyright © 2022, Centre For Railway Information Systems, Designed and Hosted by SMS(S) Group 5 "  </p>
  </footer>
    
</body>


</html>