<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Unsuccess Page</title>
    <link rel="stylesheet" href="../static/mainPagestyle.css">
    <link rel="stylesheet" href="../static/form.css">
    
</head>

<body>
           
    <header>
        <nav id="navbar">
            <img src="../static/Images/Indian_Railways_logo.png" id="logo">
            <ul>
                <!-- <li> <a href="login.html">Login</a></li> -->
                  <!-- NEED TO CHECK HERE IF ALREADY LOGGED IN OR NOT -->
                <li><a href="/register">Register</a></li>
                <li><a href="/agentLogin">Agent Login</a></li>
                <li><a href="/contactUs">Contact Us</a></li>
                <li><a href="/trains">Trains</a></li>
                <li><a href="/buses">Buses</a></li>
                <li><a href="/flights">Flights</a></li>
                <li><a href="/ticketDetails">Ticket Details</a></li>
            </ul>
            <img src="../static/Images/IRCTC-Logo.png" id="logo2">
        </nav>
    </header>

    <img src="..\\static\\Images\\cross.jpg" id = "cross">
    <div class="formContainer" id = "err-msg">
        <a href="/register">THE ID YOU ENTERED IS ALREADY REGISTERED. TRY AGAIN</a>
        <br><br>
        <a href="/">HEAD TO MAIN MENU</a>
    </div>

  <footer>
      <p> "Copyright © 2022, Centre For Railway Information Systems, Designed and Hosted by SMS(S) Group 5 "  </p>
  </footer>
    
</body>


</html>